<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
           package="com.covedesign.devs"
      android:versionCode="2"
      android:versionName="1.0.1">
    <uses-sdk android:minSdkVersion="3"
              android:targetSdkVersion="7"/>
    <application android:icon="@drawable/icon" android:label="Covedesign Dev (Root)">
         <activity android:name=".Main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
